@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body, #root { height: 100%; }
* { box-sizing: border-box; }

main{
    padding-top: 100px;
    @media (max-width:576px) {
       padding-top: 60px; 
    }
}
html{
   -font-family: "Inter", "Segoe UI", system-ui, -apple-system, Roboto, "Helvetica Neue", Arial, sans-serif;
}